<!-- Editier-Ansicht Code-Snippets -->
<!DOCTYPE html>
<html>
    <head>
        <!-- Favicon Browser -->
        <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
        
        <!-- Einbinden von Google-Fonts -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Share+Tech+Mono&display=swap" rel="stylesheet"> 
        
        <!-- Laden des CSS-Stylesheets -->
        <link rel="stylesheet" href="/stylesheet.css">
        
        <!-- Laden der CodeMirror-Dateien -->
            <!-- Required -->
            <script src="/editCode/codemirror.js"></script>
            <link rel="stylesheet" href="/editCode/codemirror.css">
            <!-- Theme -->
            <link rel="stylesheet" href="/editCode/ayu-mirage.css">
            <!-- Jede Sprache, deren Syntax von CodeMirror erkannt werden soll, muss hier geladen werden -->
            <!-- Hier zum Veranschaulichen nur ausgewählte. Evtl. später dynamisch ladbar, wenn je Sprache eine Seite gerendert wird. -->
            <script src="/editCode/javascript/javascript.js"></script>  
            <script src="/editCode/python/python.js"></script>          
            <script src="/editCode/clike/clike.js"></script>
            <script src="/editCode/htmlembedded/htmlembedded.js"></script>
            <script src="/editCode/htmlmixed/htmlmixed.js"></script>
            <script src="/editCode/php/php.js"></script>
            <script src="/editCode/css/css.js"></script>
            <script src="/editCode/xml/xml.js"></script>
            <script src="/editCode/powershell/powershell.js"></script>
            <!-- Additional Modes von CodeMirror-->
            <script src="/editCode/selection/active-line.js"></script>

        <!-- Laden von Formular-Script -->
        <script src="/js/form.js"></script>

        <!-- Meta-Daten -->
        <title>Codex - Login</title>
    </head>
    <body>
        <div class="inner">
            <!-- Navigation & Website-Header -->
            <div class="flex-container" style="background-color: white;">
                <div><a href="/welcome"><img src="/img/logo.svg" alt="Codex Logo" style="height: 65px;"></img></a></div>
                <div class="nav-button-top" style="height: 60px; flex-grow: 10;"></div>
                <div class="nav-button-top" style="height: 60px; flex-grow: 1;"></div>
                <div class="nav-button-top" style="height: 60px; flex-grow: 1; margin-right: 40px;"><a href="/logout">Logout</a></div>
            </div>
            <!-- Flex-Container für Seiten-Menü und Inhalt -->
            <div class="flex-container" style="justify-content: flex-start; align-items: flex-start;">
                <div id="menu" class="flex-container" style="justify-content: flex-start; flex-direction: column; align-items: flex-start; position: fixed;">
                    <div style="width: 130px; padding: 0; margin-bottom: 5px; margin-top: 10px;">
                        <h3 style="text-align: center; background-color: #FF9000; font-size: 24px;">MENÜ</h3>
                    </div>
                    <div style="width: 104px; border-style: solid; border-color: #FF9000; padding: 10px;">
                        <p class="menu-button"><a href="/welcome">[ Start ]</a></p>
                        <p class="menu-button"><a href="/profile">[ My Snippets ]</b></a></p>
                        <p class="menu-button"><a href="/userlist">[ Other Users ]</b></a></p>
                        <p class="menu-button"><a href="/favorites">[ Favorites ]</b></a></p>
                        <p class="menu-button"><a href="/settings">[ Settings ]</b></a></p>
                    </div>
                </div>
                <div id="content" class="flex-container code" style="width: 720px;">
                        <h1 style="margin: 0px 20px 20px 20px;">Code-Snippet bearbeiten:</h1>
                        <form action="/onChangeCode/" method="POST" style="margin: 0px 20px 20px 20px; width: 100%;"> 
                            <div>
                                <label for="headline" class="formlabel"><b>Überschrift:</b></label><br>
                                <input type="hidden" name="id" value=<%= snippetId %>>
                                <input type="text" id="head" name="head" class="forminput" value="<%= snippetHead %>" required><br><br>
                            </div>
                            <div style="margin-bottom: 35px;">
                                <label for="description" class="formlabel"><b>Beschreibung:</b></label>
                                <div class="container" style="margin: 0px;">
                                    <div class="description">
                                        <textarea id="desc" name="desc" class="textinput" required><%= snippetDesc %></textarea>
                                    </div>
                                </div>
                            </div>
                            <!-- Optionen für Auswahl der Syntax zum Speichern des Editor-Modus -->
                            <select id="format" name="format" required>
                                <option value="c">C</option>
                                <option value="c++">C++</option>
                                <option value="c#">C#</option>
                                <option value="coffeescript">CoffeeScript</option>
                                <option value="commonlisp">Common Lisp</option>
                                <option value="css">CSS</option>
                                <option value="django">Django</option>
                                <option value="ejs">Embedded Javascript</option>
                                <option value="html">HTML</option>
                                <option value="http">HTTP</option>
                                <option value="java">Java</option>
                                <option value="javascript">JavaScript</option>
                                <option value="julia">Julia</option>
                                <option value="mathematica">Mathematica</option>
                                <option value="mysql">MySQL</option>
                                <option value="objectivec">Objective-C</option>
                                <option value="objectivec++">Objective-C++</option>
                                <option value="pascal">Pascal</option>
                                <option value="perl">Perl</option>
                                <option value="php">PHP</option>
                                <option value="text">Plain Text</option>
                                <option value="powershell">Power Shell</option>
                                <option value="python">Python</option>
                                <option value="r">R</option>
                                <option value="ruby">Ruby</option>
                                <option value="shell">Shell</option>
                                <option value="spreadsheet">Spreadsheet</option>
                                <option value="sql">SQL</option>
                                <option value="sqlite">SQLite</option>
                                <option value="swift">Swift</option>
                                <option value="latex">LaTeX</option>
                                <option value="typescript">TypeScript</option>
                                <option value="vbnet">VB.NET</option>
                                <option value="vbscript">VBScript</option>
                                <option value="xml">XML</option>
                            </select>
                            <!-- Javascript, um die aktuelle Syntax des zu bearbeitenden Codes vorauszuwählen -->
                            <!-- Quelle: https://www.daftlogic.com/information-programmatically-preselect-dropdown-using-javascript.htm -->
                            <script>
                            function setSelectedIndex(s, valsearch) {
                            // Loop through all the items in drop down list
                                for (i = 0; i< s.options.length; i++) {
                                    if (s.options[i].value == valsearch) {
                                    // Item is found. Set its property and exit
                                        s.options[i].selected = true;
                                        break;
                                    }
                                }
                                return;
                            }
                            setSelectedIndex(document.getElementById("format"),"<%= snippetFormat %>");
                            </script>
                            <!-- Nachfolgendes <textarea> mit 'id="unnecessary"' hat keine richtige Funktion. Ohne die Area verschwindet CodeMirror aber seltsamerweise -->
                            <textarea id="unnecessary" style="border:none; margin: 0px; height: 0px; resize: none;"></textarea>
                            <textarea id=snippetIdent name="code"><%= snippetCode %></textarea><br>
                            <input type="hidden" id="edited" name="edited" value="<%= timestamp %>">
                            
                            <!-- Versteckte Input-Felder erzeugen, die geänderte Werte annehmen -->
                            <script>
                                function createHiddenInput() {
                                    var hiddenCode = document.createElement('input');
                                    hiddenCode.setAttribute('value', `${editor2.getValue()}`);
                                }
                            </script>
                            <button class="cta-button" onclick="createHiddenInput()" style="width: 135px;">SPEICHERN</button>
                            <a href="/profile" class="cta-button" style="width: 135px;">ABBRECHEN</a>
                        </form>
                    <script> 
                        var idCode = "snippetIdent";
                        var editor2 = CodeMirror.fromTextArea(document.getElementById(idCode), {
                            lineNumbers: true, theme: "ayu-mirage", styleActiveLine: true, mode: "<%= cmMode %>"});
                        editor2.on("change", function(editorChange) {
                            console.log(editorChange.getValue());
                        });
                    </script>
                </div>
            </div>
            <!-- Footer [Links zu Impressum und Datenschutz stehen noch aus] -->
            <div class="flex-container" style="height: 50px; background-color: #FF9000; margin: 0px;">
                <p class="footer">© 2020 CODEX &nbsp;
                    <a href="/impressum">Impressum</a> | <a href="/impressum#privacy">Datenschutz</a>
                </p>
            </div>
        </div>
    </body>
</html>