<!-- Benutzerprofil/Code-Sammlung -->
<!DOCTYPE html>
<html>
    <head>
        <!-- Favicon Browser -->
        <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
        
        <!-- Einbinden von Google-Fonts -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Share+Tech+Mono&display=swap" rel="stylesheet"> 
        
        <!-- Laden des CSS-Stylesheets -->
        <link rel="stylesheet" href="/stylesheet.css">
        
        <!-- Laden der CodeMirror-Dateien -->
            <!-- Required -->
            <script src="/editCode/codemirror.js"></script>
            <link rel="stylesheet" href="/editCode/codemirror.css">
            <!-- Theme -->
            <link rel="stylesheet" href="/editCode/ayu-mirage.css">
            <!-- Jede Sprache, deren Syntax von CodeMirror erkannt werden soll, muss hier geladen werden -->
            <!-- Hier zum Veranschaulichen nur ausgewählte. Evtl. später dynamisch ladbar, wenn je Sprache eine Seite gerendert wird. -->
            <script src="/editCode/javascript/javascript.js"></script>  
            <script src="/editCode/python/python.js"></script>          
            <script src="/editCode/clike/clike.js"></script>
            <script src="/editCode/htmlembedded/htmlembedded.js"></script>
            <script src="/editCode/htmlmixed/htmlmixed.js"></script>
            <script src="/editCode/php/php.js"></script>
            <script src="/editCode/css/css.js"></script>
            <script src="/editCode/xml/xml.js"></script>
            <script src="/editCode/powershell/powershell.js"></script>
            <!-- Additional Modes von CodeMirror-->
            <script src="/editCode/selection/active-line.js"></script>

        <!-- Laden von Formular-Script -->
        <script src="/js/form.js"></script>

        <!-- Meta-Daten -->
        <title>Codex - Dein Profil</title>
    </head>
    <body>
        <div class="inner">
            <!-- Navigation & Website-Header -->
            <div class="flex-container" style="background-color: white;">
                <div><a href="/welcome"><img src="/img/logo.svg" alt="Codex Logo" style="height: 65px;"></img></a></div>
                <div class="nav-button-top" style="height: 60px; flex-grow: 10;"></div>
                <div class="nav-button-top" style="height: 60px; flex-grow: 1;"></div>
                <div class="nav-button-top" style="height: 60px; flex-grow: 1; margin-right: 40px;"><a href="/logout">Logout</a></div>
            </div>
            <!-- Flex-Container für Seiten-Menü und Inhalt -->
            <div class="flex-container" style="justify-content: flex-start; align-items: flex-start;">
                <div id="menu" class="flex-container" style="justify-content: flex-start; flex-direction: column; align-items: flex-start; position: fixed;">
                    <div style="width: 130px; padding: 0; margin-bottom: 5px; margin-top: 10px;">
                        <h3 style="text-align: center; background-color: #FF9000; font-size: 24px;">MENÜ</h3>
                    </div>
                    <div style="width: 104px; border-style: solid; border-color: #FF9000; padding: 10px;">
                        <p class="menu-button"><a href="/welcome">[ Start ]</a></p>
                        <p class="menu-button"><a href="/my-profile">[ My Snippets ]</b></a></p>
                        <p class="menu-button"><a href="/userlist">[ Other Users ]</b></a></p>
                        <p class="menu-button"><a href="/favorites">[ Favorites ]</b></a></p>
                        <p class="menu-button"><a href="/settings">[ Settings ]</b></a></p>
                    </div>
                    <div style="width: 130px; padding: 0; margin-bottom: 5px; margin-top: 15px;">
                        <h3 style="text-align: center; background-color: #FF9000; font-size: 18px;">last visited</h3>
                    </div>
                    <div style="width: 104px; border-style: solid; border-color: #FF9000; padding: 10px;">
                        <p class="menu-button"><a href="">> user1235</b></a></p>
                        <p class="menu-button"><a href="">> brother912</b></a></p>
                        <p class="menu-button"><a href="">> nutzernam11 </b></a></p>
                        <p class="menu-button"><a href="">> benutzer9s1</b></a></p>
                        <p class="menu-button"><a href="">> benutzer</b></a></p>
                    </div>
                </div>
                <div id="content" class="flex-container code">
                        <h1 style="margin-left: 20px; margin-right: 20px;">Hallo, <%= username %>!</h1>
                        <p style="margin-left: 20px; margin-right: 20px;">Willkommen in deinem persönlichen Bereich.
                            Hier kannst du neue Code-Snippets anlegen, bestehende bearbeiten oder wieder entfernen.
                            Über die Navigation links kommst du zu weiteren Bereichen, kannst Favoriten speichern und Code-Lösungen von anderen Nutzern entdecken. 
                            <br><br>
                            Viel Spaß!</p>
<div>
<!-- Hier beginnt der for Loop zum erstellen der Editorfelder -->   
    <% for(var i = 0; i < codelist.length; i++){ %>
    <div class="code-head"><h4 id="code-heading<%= codelist[i].id %>"><%= codelist[i].headline %></h4>
        <table id=<%= `codeInfo${codelist[i].id}` %> style="border: none;">
            <tr><td style="border: none;"><span style="text-decoration: underline;">last edited</span>:</td><td style="border: none;"><%= `${codelist[i].edited}` %></td></tr>
            <tr><td style="border: none;"><span style="text-decoration: underline;">Format</span>:</td><td style="border: none;" name=<%= `language${codelist[i].id}` %>>Sprache</td></tr>
            <!-- Kurzes Script, um die entsprechende Sprache einzusetzen-->
            <script>
                var formatLang = "<%= codelist[i].format %>";
                document.getElementsByName("language<%= codelist[i].id %>")[0].innerHTML = document.getElementsByName("language<%= codelist[i].id %>")[0].innerHTML.replace('Sprache', getFormatName(formatLang));
            </script>
        </table>
    </div>
    <p class="code-desc" id="code-desc"><%= codelist[i].description %></p>
<!-- CodeMirror-Editor: Code muss ganz links stehen, damit keine ungewollten Einrückungen im Code entstehen. -->

    <form style="margin-bottom: 10px;">
<textarea id=<%= `snippet${codelist[i].id}` %> name="code">
<%= codelist[i].code %>
</textarea>
            </form>
            <!-- CodeMirror-Script sucht nach Elementen mit id 'codeid' und aktiviert Editor -->
    <script> 
        var codeid = "snippet" + <%= codelist[i].id %>; // wird von VSC als Problem identifiziert, da VSC kein EJS unterstützt (https://github.com/Microsoft/vscode/issues/51118)
        var editor<%= codelist[i].id %> = CodeMirror.fromTextArea(document.getElementById(codeid), {
            lineNumbers: true,                // Boolean: aktiviert Zeilennummern
            theme: "ayu-mirage",              // Theme-Auswahl für Editor
            styleActiveLine: true,            // Boolean: Aktive Zeile wird markiert
            readOnly: true,                   // Boolean: Keine Änderungen im Editor möglich.
            mode: "<%= codelist[i].cmmode %>" // String; Nutzungmodus des Editors ('Sprache')
        });
        editor<%= codelist[i].id %>.on("change", function(editorChange) {       // Bei Änderungen feuert das Change-Event und führt die nachfolgende Funktion aus
            console.log(editorChange.getValue());    // gibt in der Browser-Konsole den veränderten Text aus (zum Test)
        });
    </script>
    <div class="flex-container" style="justify-content: flex-end; margin-bottom: 20px;">
        <form action="/onDeleteCode/<%= codelist[i].id %>" method="POST" id=delete<%= codelist[i].id %>><input type="submit" class="cta-button" style="width: 100px;" onclick="confirmDelete()" value="DELETE"></form>
        <button class="cta-button" style="width: 100px;" onclick="post('/editCode/', {code: `${editor<%= codelist[i].id %>.getValue()}`, id: <%= codelist[i].id %>, headline: `<%= codelist[i].headline %>`, description: `<%= codelist[i].description %>`, format: `<%= codelist[i].format %>`, cmMode: `<%= codelist[i].cmmode %>`, timestamp: timeStamp()})">EDIT</button>
        <!-- DELETE-Button: Script fängt POST-Methode ab und prüft, ob bestätigt wird oder nicht. Erst nach Bestätigung wird gelöscht. -->
        <script>
            function confirmDelete(){
                document.getElementById('delete<%= codelist[i].id %>').onsubmit = function (evt) { 	
                    var confirmDel = confirm("Wirklich löschen?");
                    if (confirmDel == false) {
                        evt.preventDefault();
                    }
                }
            }
        </script>
    </div>
<% } %>
</div>
                        <!-- Add Button. Position muss/kann noch angepasst werden -->
                        <div style="align-self: flex-end; margin-bottom: 20px;"><form action="/addCode" method="POST"> <button class="button-invert" style="width: 210px;">ADD&nbsp;SNIPPET</button></form></div>
                </div>
            </div>
            <!-- Footer [Links zu Impressum und Datenschutz stehen noch aus] -->
            <div class="flex-container" style="height: 50px; background-color: #FF9000; margin: 0px;">
                <p class="footer">© 2020 CODEX &nbsp;
                    <a href="/impressum">Impressum</a> | <a href="/impressum#privacy">Datenschutz</a>
                </p>
            </div>
        </div>
    </body>
</html>